.footer {
    background-color: rgb(0, 102, 204);
    height: auto;
    display: block;
    /* overflow: ; */

    /* justify-content: center; */
    /* float: left; */
}

#cert {
    /* width: 40%; */
    max-height: 80px;
    /* height: 100%; */
}