.imageTextBox {
    position: relative;
    max-height: 99vh;
    min-height: 450px;
    overflow: hidden;
    user-select: none;
}

.imageTextBox img {
    /* position: relative; */
    width: 100%;
    height: 99vh;
    min-height: 450px;
    /* transition: transform 1.5s ease; */
    /* text-align: center; */
    /* transform: translateY(-20%); */
}

@media screen and (min-width: 1601px) {
    #bannerText {
        font-size: 80px;
    }
    #smallerText {
        font-size: 40px;
    }
}

@media screen and (max-width: 1600px) {
    #bannerText {
        font-size: 5vw;
    }
    #smallerText {
        font-size: 3vw;
    }
}


#smallerText {
    position: absolute;
    width: 100%;
    top: 32%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-style: italic;
    font-family: 'Cambria';
    color: white;
}

#bannerText {
    position: absolute;
    width: 60%;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'Arial', 'Times New Roman','Verdana';
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 1.1em;
    color: white;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
}

h2 span {
    padding: 10px;
}

.middle {
    margin: auto;
    width: 50%;
}

.section {
    padding-top: 17px;
}

.largeText {
    margin: 0px;
    padding: 10px;
    width: 50%;
    font-family: 'Droid Serif', 'Times New Roman', Times, sans-serif;
    font-size: 30px;
}

.paragraph {
    line-height: 1.75em;
}