.topPhoto {
    position: relative;
    max-height: 40vh;
    min-height: 450px;
    overflow: hidden;
    user-select: none;

}

.topPhoto img {
    width: 100%;
    min-height: 450px;
    position: relative;
    transition: transform 1.5s ease;
    /* transform: translateY(-30%); */
}

.topPhoto:hover img {
    transform: scale(1.2);
}


@media screen and (min-width: 1601px) {
    #photoText {
        font-size: 80px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 801px) {
    #photoText {
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    #photoText {
        font-size: 40px;
    }
}

#photoText {
    position: absolute;
    /* display: inline-block; */
    width: 60%;
    /* text-align: center; */
    /* left: 50%; */
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    /* height: 99vh; */
    /* margin-top: -44.5vh; */
    /* vertical-align: middle; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 1; */
    font-family: 'Arial', 'Times New Roman','Verdana';
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 1.1em;
     /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
    /* font-size: 4vw;  */
    color: white;
}

.wwd{
    padding-top: 30px;
    padding-bottom: 20px;
}

.services {
    padding-bottom: 30px;
}


